<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="polinema.ac.id.rumusbangun">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.RuangDatar.LingkaranActivity"></activity>
        <activity android:name=".activities.RuangDatar.LayangActivity" />
        <activity android:name=".activities.RuangDatar.TrapesiumActivity" />
        <activity android:name=".activities.RuangDatar.JajaranGenjangActivity" />
        <activity android:name=".activities.RuangDatar.SegitigaSisiActivity" />
        <activity android:name=".activities.RuangDatar.SegitigaSikuActivity" />
        <activity android:name=".activities.RuangDatar.PersegiPanjangActivity" />
        <activity android:name=".activities.RuangDatar.PersegiActivity" />
        <activity android:name=".activities.RuangBangun.BolaActivity" />
        <activity android:name=".activities.RuangBangun.KerucutActivity" />
        <activity android:name=".activities.RuangBangun.TabungActivity" />
        <activity android:name=".activities.RuangBangun.LimasActivity" />
        <activity android:name=".activities.RuangBangun.PrismaActivity" />
        <activity android:name=".activities.RuangBangun.BalokActivity" />
        <activity android:name=".activities.RuangBangun.KubusActivity" />
        <activity android:name=".activities.RuangDatarActivity" />
        <activity android:name=".activities.RuangBangunActivity" />
        <activity android:name=".activities.MenuActivity" />
        <activity android:name=".activities.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MainActivity" />
    </application>

</manifest>